.general-box {
    position: relative;
}
.general1 {
    width: 1310px;
    height: 650px;
}
.ball-1 {
    top: 200px;
    left: 200px;
    position: absolute;
    animation: ball 2s infinite;
}
.ball1 {
    width: 100px;
    height: 100px;
}
.ball-2 {
    top: 200px;
    right: 200px;
    position: absolute;
    animation: ball 2s infinite;
}
.ball2 {
    width: 100px;
    height: 100px;
}
.mekare {
    top: 250px;
    left: 520px;
    position: absolute;
    animation: goolkeeper 10s 5 alternate;
}
.mekare1 {
    width: 300px;
    height: 300px;
}

/* Started keyframes  */
@keyframes goolkeeper {
    0% {left: 520px; }
    100% {left: 200px; }
}

@keyframes ball {
    0% {transform: rotate(0deg);}
    25% { transform: rotate(45deg);}
    50% {transform: rotate(90deg);}
    75% {transform: rotate(180deg);}
    100% {transform: rotate(0deg);}

}
