.general-box {
    position: relative;
}
.general1 {
    width: 1310px;
    height: 650px;
}
.ball-1 {
    top: 200px;
    left: 200px;
    position: absolute;
}
.ball1 {
    width: 100px;
    height: 100px;
}
.ball-2 {
    top: 200px;
    right: 200px;
    position: absolute
}
.ball2 {
    width: 100px;
    height: 100px;
}
.mekare {
    top: 250px;
    left: 520px;
    position: absolute;
}
.mekare1 {
    width: 300px;
    height: 300px;
}
